<div class="container">
  <!-- Sección del encabezado con el logo -->
  <div class="row bg-light border rounded mt-4 mb-4">
    <div class="col-12">
      <div class="row">
        <div class="col-12 mt-4 text-center">
          <img src="/img/logo.png" alt="logo" />
        </div>
      </div>

      <!-- Sección para la carga dinámica de componentes según la ruta -->
      <div class="row">
        <div class="col-12">
          <router-outlet />
        </div>
      </div>
    </div>
  </div>
</div>
