<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <!-- Formulario de filtrado -->
        <form (ngSubmit)="filterData()" action="">
          <div class="row">
            <!-- Selección de criterio de búsqueda -->
            <div class="col-4">
              <label for="search" class="form-label"> Buscar por </label>
              <select
                name="search"
                id="search"
                class="form-control"
                [(ngModel)]="filter.searchBy"
              >
                <option value="name">Nombre</option>
                <option value="glass">Vaso</option>
                <option value="ingredient">Ingredienet</option>
                <option value="category">Categoria</option>
              </select>
            </div>

            <!-- Campo de entrada para el valor de búsqueda -->
            <div class="col-4">
              <label for="value" class="form-label">
                <!-- Evalúa el valor de `filter.searchBy` y muestra el texto correspondiente. -->
                @switch (filter.searchBy) { @case ('name') { nombre } @case
                ('glass') { vaso } @case ('ingredient') { ingrediente } @case
                ('category') { categoria } }
              </label>
              <input
                type="text"
                name="value"
                class="form-control"
                id="value"
                [(ngModel)]="filter.value"
              />
            </div>

            <!-- Botón de filtrado -->
            <div class="col-4 align-self-end">
              <button class="btn btn-primary w-100" type="submit">
                <i class="bi bi-search me-2"></i>Filtrar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <!--
        🔹 Muestra las tarjetas de cócteles cuando los datos han sido cargados (`loadCocktails = true`).
        🔹 Si la lista está vacía, se mostrarán los mensajes de "No hay resultados" o "Bienvenido".
      -->
      @if (loadCocktails) { @for (cocktail of ListCoktails; track cocktail.id) {
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 mb-4">
        <div class="card">
          <img
            [src]="cocktail.img"
            class="card-img-top"
            [alt]="cocktail.name"
          />
          <div class="card-body">
            <p class="card-text text-center">{{ cocktail.name }}</p>
          </div>
          <div class="card-footer d-grid gap-2">
            <a
              class="btn btn-primary"
              [routerLink]="['/detail-cocktail', cocktail.id]"
            >
              Ver Detalles
            </a>
          </div>
        </div>
      </div>
      } @empty {
      <div class="col-12 text-center p-5">
        @if (searched) {
        <span> no hay resultados </span>
        } @else {
        <span> bienvenido, porfavor de buscar algo </span>
        }
      </div>
      }} @else {
      <div class="col-12">
        <div class="spinner-border text-center" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      }
    </div>
  </div>
</div>
